parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Psr\\\\Http\\\\Message\\\\ResponseInterface\\:\\:withModified\\(\\)\\.$#"
			count: 1
			path: src/Routing/Middleware/AssetMiddleware.php

		-
			message: "#^Call to an undefined method Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\:\\:getParam\\(\\)\\.$#"
			count: 1
			path: src/Routing/Middleware/AssetMiddleware.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Utility/AssetsCreator.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 2
			path: tests/TestCase/View/Helper/AssetHelperTest.php

